# Flutter
.dart_tool/
.packages
.pub/
build/

# Android
/android/.gradle/
/android/local.properties
/android/app/debug
/android/app/profile
/android/app/release

# iOS
/ios/Pods/
/ios/.symlinks/
/ios/Flutter/Flutter.framework
/ios/Flutter/Flutter.podspec

# VS Code
.vscode/

# Mac
.DS_Store

# Logs
*.log
